////
/// App Manifest
////

///
/// Reset
@import 'reset';

///
/// Threads theme properties
@import 'threads/threads';
@import 'themes/examples';
@import 'themes/merge-with-threads';

///
/// Global Utilities
@import 'utilities/global/animation';
@import 'utilities/global/layout';
@import 'utilities/global/typography';

///
/// Base components
@import 'components/Page/Page';
@import 'components/Svg/Svg';
@import 'components/Link/Link';
@import 'components/Link/variants';
@import 'components/Heading/Heading';
@import 'components/Heading/variants';
@import 'components/Patterns/Patterns';
@import 'components/Main/Main';
@import 'components/PageHeader/PageHeader';
@import 'components/Handle/DragHandle';
@import 'components/Handle/NopeHandle';

///
/// Sidebar components
@import 'components/Sidebar/Sidebar';
@import 'components/Navigation/Navigation';
@import 'components/Hamburger/Hamburger';
@import 'components/Brand/Brand';

///
/// Example components
@import 'components/Block/Block';
@import 'components/Block/variants';
@import 'components/PaperStack/PaperStack';
@import 'components/PaperStack/variants';
@import 'components/PillSwitch/PillSwitch';
@import 'components/PillSwitch/variants';
@import 'components/Plate/Plate';
@import 'components/Plate/variants';
@import 'components/StackedList/StackedList';
@import 'components/StackedList/variants';

///
/// Example content
@import 'content/Home/Home';
@import 'content/Draggable/DragEvents/DragEvents';
// @import 'content/Draggable/RestrictAxis/RestrictAxis';
@import 'content/Droppable/OneAndOnly/OneAndOnly';
// @import 'content/Droppable/Capacity/Capacity';
@import 'content/Sortable/SimpleList/SimpleList';
@import 'content/Sortable/Transformed/Transformed';
@import 'content/Sortable/MultipleContainers/MultipleContainers';
@import 'content/Swappable/Flexbox/Flexbox';
@import 'content/Swappable/Floated/Floated';
@import 'content/Swappable/GridLayout/GridLayout';
@import 'content/Plugins/Collidable/Collidable';
@import 'content/Plugins/Snappable/Snappable';
@import 'content/Plugins/SwapAnimation/SwapAnimation';
