@use 'reset';
@use 'theme';

@use 'utils/components';
@use 'utils/global';
@use 'utils/shared/layout';

html {
	@include scroll-lock;
	font-family: map-get(theme.$font-stack, 'base');

	::selection {
		color: white;
		background-color: map-get(theme.$color, 'coal-dark');
	}
}

body {
	cursor: map-get(theme.$cursor, 'base');
	position: relative;
	background-color: white;

	// Better page overscroll... specifically adds color above and below the Sidebar
	@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
		&::before,
		&::after {
			content: '';
			position: sticky;
			left: 0;
			display: block;
			width: map-get(theme.$layout-length, 'sidebar') - map-get(theme.$spacing, 'fattest');
			height: 0;
		}

		&::before {
			top: 0;
			box-shadow: 0 -#{map-get(theme.$spacing, 'fattest')} 0 map-get(theme.$spacing, 'fattest')
				map-get(theme.$color 'coal-dark');
		}

		&::after {
			bottom: 0;
			box-shadow: 0 map-get(theme.$spacing, 'fattest') 0 map-get(theme.$spacing, 'fattest')
				map-get(theme.$color 'coal-dark');
		}
	}
}

p,
li,
dd,
.heading,
.subheading {
	cursor: map-get(theme.$cursor, 'text');
}

a,
button {
	cursor: map-get(theme.$cursor, 'pointer');

	&:active {
		cursor: map-get(theme.$cursor, 'pointer-active');
	}
}

.draggable--is-dragging {
	&,
	* {
		cursor: map-get(theme.$cursor, 'drag-active');
	}
}

// Set `state` cursors to never used tags only so they can be fetched on page load,
// rather than the instance they are first requested...
.preload-cursors {
	@include visually-hidden;

	b {
		cursor: map-get(theme.$cursor, 'drag-active');
	}

	u {
		cursor: map-get(theme.$cursor, 'pointer-active');
	}

	a {
		cursor: map-get(theme.$cursor, 'rock-active');
	}
}
