////
/// Components
/// Brand
////

@import 'keyframes';
@import 'props';

.Brand {
  cursor: get-cursor(rock);
  display: flex;

  &:active {
    cursor: get-cursor(rock, active);
  }

  @media screen and (max-width: get-breakpoint() - 1px) {
    justify-content: center;
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    margin-left: -(get-spacing(tightest));
  }
}

.BrandLogo {
  flex: 0 0 $logo-width;
}

.BrandWordmark {
  flex: 0 0 $wordmark-width;
  margin-left: get-spacing(tighter);
}

.Svg--srcWordmark {
  fill: get-color(brand, yellow);
}

///
/// Logo
.Wave--colorMask {
  fill: get-color(coal, dark);
}

.Wave--colorPurple {
  fill: get-color(brand, purple);
}

.Wave--colorRed {
  fill: get-color(brand, red);
}

.Wave--colorOrange {
  fill: get-color(brand, orange);
}

.Hand {
  fill: get-color(brand, yellow);
}

// --- Interaction
.Brand {
  &:hover {
    @include logo-animation;
  }

  &:active {
    .Wave--colorMask,
    .Wave--colorPurple,
    .Wave--colorRed,
    .Wave--colorOrange,
    .Hand {
      animation-duration: get-duration();
    }
  }
}
