@use '../../../../styles/utils/shared/layout';
@use '../../../components/StackedList/styles/props';

$grid-columns: 8;

.multiple-containers {
	display: grid;
	gap: map-get(theme.$layout-lengths, 'gutter');
	grid-template-columns: 100%;
	grid-template-areas: 'a' 'b' 'c';

	@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
		grid-template-columns: repeat($grid-columns, 1fr);
		grid-template-areas:
			'a a a a a a a a'
			'b b b b b c c c';
	}

	.Container {
		&:nth-child(1) {
			grid-area: a;
		}

		&:nth-child(2) {
			grid-area: b;
		}

		&:nth-child(3) {
			grid-area: c;
		}
	}

	// resolve slim padding-bottom when single column
	.stacked-list-header {
		@media screen and (min-width: map-get(theme.$breakpoints, 'md')) and (max-width: map-get(theme.$breakpoints, 'lg') - 1px) {
			height: auto;
		}
	}

	.draggable--is-dragging & .draggable-container-parent--capacity {
		color: map-get(theme.$colors, 'brand-blue');
	}
}
