////
/// Global Utilities
/// Animation
////

/* stylelint-disable indentation, rule-empty-line-before, number-no-trailing-zeros */
@keyframes jelly {
  0% { transform: scale(1.000, 1.000); }
  4% { transform: scale(0.947, 0.961); }
  6% { transform: scale(0.967, 0.990); }
  8% { transform: scale(0.999, 1.034); }
 10% { transform: scale(1.033, 1.075); }
 12% { transform: scale(1.041, 1.084); }
 14% { transform: scale(1.068, 1.100); }
 16% { transform: scale(1.071, 1.100); }
 18% { transform: scale(1.081, 1.086); }
 20% { transform: scale(1.082, 1.078); }
 22% { transform: scale(1.079, 1.060); }
 25% { transform: scale(1.073, 1.044); }
 27% { transform: scale(1.070, 1.041); }
 30% { transform: scale(1.059, 1.035); }
 31% { transform: scale(1.057, 1.035); }
 36% { transform: scale(1.047, 1.044); }
 38% { transform: scale(1.046, 1.047); }
 42% { transform: scale(1.044, 1.053); }
 45% { transform: scale(1.045, 1.055); }
 53% { transform: scale(1.049, 1.051); }
 60% { transform: scale(1.051, 1.049); }
 75% { transform: scale(1.050, 1.050); }
100% { transform: scale(1.050, 1.050); }
}
/* stylelint-enable indentation, rule-empty-line-before, number-no-trailing-zeros */
