@use '../shared/typography';

.text-truncate {
	@include typography.text-truncate;
}

.text-truncate--inline-block {
	@include typography.text-truncate('inline-block');
}

.text-no-select {
	@include typography.text-no-select;
}

.text-center {
	text-align: center;
}

.text-underline {
	text-decoration: underline;
}

.text-nowrap {
	white-space: nowrap;
}

.text-wrap {
	white-space: normal;
	word-wrap: break-word;
	word-break: break-word;
}
