////
/// Global Utilities
/// Typography
////

@import 'utils/shared/typography';

.text-truncate {
  @include text-truncate;
}

.text-truncate--inline-block {
  @include text-truncate('inline-block');
}

.text-no-select {
  @include text-no-select;
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.line-break--tablet-up {
  display: none;

  @media screen and (min-width: get-breakpoint(mobile, wide)) {
    display: block;
  }
}
