$paper-stack-block-name: unquote('PaperStackItem');
$paper-stack-item-count: 4;

@function paper-stack-height($height, $spacing) {
	@return $height - (($spacing / 2) * ($paper-stack-item-count - 1));
}

@mixin paper-stack-item-offset {
	$adjusted-top-offset: -((24rem / $paper-stack-item-count) + (map-get(theme.$spacing, 'base') / 2));

	@for $i from 1 through $paper-stack-item-count {
		&:nth-child(#{$i}),
		&.draggable--original ~ .PaperStackItem:nth-child(#{$i + 1}) {
			top: $adjusted-top-offset;
		}

		$adjusted-top-offset: $adjusted-top-offset + map-get(theme.$spacing, 'base');
	}
}
