.paper-stack {
	&__item {
		&--draggable {
			cursor: map-get(theme.$cursor, 'drag-base');

			.paper-stack__content {
				color: map-get(theme.$color, 'coal-dark');
				background-color: white;
				border-color: currentColor;
				transition: color map-get(theme.$duration, 'fast') map-get(theme.$easing, 'base'),
					background-color map-get(theme.$duration, 'fast') map-get(theme.$easing, 'base'),
					transform map-get(theme.$duration, 'base') map-get(theme.$easing, 'base');
			}

			// interaction
			&:focus,
			&:hover {
				.paper-stack__content {
					color: map-get(theme.$color, 'brand-blue');
					transform: perspective(90rem) rotateX(60deg)
						translateY(map-get(theme.$spacing, 'tightest'));

					&::after {
						transform: translateY(-(map-get(theme.$spacing, 'tightest')));
					}
				}
			}

			&.draggable-source--is-dragging {
				.paper-stack__content {
					color: map-get(theme.$color, 'brand-blue');

					.pattern--halftone {
						@include pattern-halftone-animated;
					}
				}
			}

			&.draggable-source--placed {
				.paper-stack__content {
					.pattern--placed {
						@include pattern-placed-animated;
					}
				}
			}

			&.draggable-mirror {
				z-index: map-get(theme.$z-index, 'overlay');

				.paper-stack__content {
					color: white;
					background-color: map-get(theme.$color, 'brand-blue');
					border-color: map-get(theme.$color, 'brand-blue');
					transform: perspective(90rem) rotateX(58deg) scale(1.025);

					&::after {
						content: none;
					}
				}
			}
		}
	}
}
