@use '../../../styles/utils/shared/layout';
@use '../components/Patterns/Patterns';
@use 'props';
@use 'variants';

$paper-stack-heading: (
	size: (
		base: 7.2rem,
		tablet: 12rem,
		desktop: 16rem
	),
	weight: 700,
	leading: 1,
	margin: 0.5em
);

@function paper-stack-heading($group: $threads-default-value, $variant: $threads-default-value) {
	@return threads-value-get($paper-stack-heading, $group, $variant);
}

.paper-stack {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 24rem;
	height: 38rem;

	&__item {
		position: absolute;
		left: 0;
		right: 0;
		height: 0;

		@for $i from 1 through $paper-stack-item-count {
			&:nth-child(#{$i}) {
				z-index: ($paper-stack-item-count + 1) - $i;
			}
		}

		@include paper-stack-item-offset;

		&:nth-child(1n + 2) {
			.paper-stack__content::after {
				content: '';
				position: absolute;
				right: -0.8rem;
				bottom: calc(map-get(theme.$spacings, 'base') / 2);
				left: -0.8rem;
				display: block;
				height: map-get(theme.$spacings, 'base');
				background-color: map-get(theme.$colors, 'coal-dark');
				transition: transform map-get(theme.$durations, 'base') map-get(theme.$easings, 'base');
			}
		}
	}

	&__content {
		@include layout.flex-center;
		position: relative;
		width: 100%;
		height: 38rem;
		color: white;
		background-color: map-get(theme.$colors, 'coal-dark');
		border: map-get(theme.$borders, 'base') solid map-get(theme.$colors, 'coal-dark');
		border-top-width: map-get(theme.$borders, 'thick');
		transform: perspective(90rem) rotateX(60deg);
		backface-visibility: hidden; // this might not be making any difference...
	}

	&__heading {
		margin-top: 0.5rem;
		font-size: 7.2rem;
		font-weight: 700;
		line-height: 1;
	}
}

.draggable--original:first-child + .paper-stack__item {
	.paper-stack__content::after {
		content: none;
	}
}
