@use '../utils/shared/layout';
@use '../theme';

.button {
	display: inline-block;
	padding: map-get(theme.$spacing, 'tightest');
	font-size: 1.2rem;
	font-weight: 900;
	text-align: center;
	white-space: nowrap;
	color: map-get(theme.$color, 'coal-dark');
	background-color: white;
	border: 0.4rem solid map-get(theme.$color, 'coal-dark');
	transition: color map-get(theme.$duration, 'base') map-get(theme.$easing, 'base'),
		background-color map-get(theme.$duration, 'base') map-get(theme.$easing, 'base'),
		border-color map-get(theme.$duration, 'base') map-get(theme.$easing, 'base');

	@media screen and (min-width: map-get(theme.$breakpoint, 'lg')) {
		padding-right: map-get(theme.$spacing, 'tighter');
		padding-left: map-get(theme.$spacing, 'tighter');
	}

	&:focus,
	&:hover {
		color: map-get(theme.$color, 'brand-blue');
		border-color: map-get(theme.$color, 'brand-blue');
	}

	&:active {
		color: darken(map-get(theme.$color, 'brand-blue'), 10%);
		border-color: map-get(theme.$color, 'brand-blue');
	}

	&:disabled {
		pointer-events: none;
		color: map-get(theme.$color, 'ash');
		border-color: map-get(theme.$color, 'ash');
	}

	&--active {
		color: white;
		background-color: map-get(theme.$color, 'coal-dark');

		&:focus,
		&:hover {
			color: white;
			background-color: map-get(theme.$color, 'brand-blue');
			border-color: map-get(theme.$color, 'brand-blue');
		}

		&:active {
			color: white;
			background-color: darken(map-get(theme.$color, 'brand-blue'), 10%);
			border-color: darken(map-get(theme.$color, 'brand-blue'), 10%);
		}

		&:disabled {
			pointer-events: none;
			color: white;
			background-color: map-get(theme.$color, 'ash');
			border-color: map-get(theme.$color, 'ash');
		}
	}

	.button--pill {
		border-radius: 2.4rem;
	}
}

///
/// Button container
.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: -(map-get(theme.$spacing, 'tightest'));
	margin-left: -(map-get(theme.$spacing, 'tightest'));

	.button {
		@include flex-item-fix;
		display: block;
		flex: 0 0 auto;
		margin-top: map-get(theme.$spacing, 'tightest');
		margin-left: map-get(theme.$spacing, 'tightest');
	}
}
