@use '../theme';

@mixin heading {
	letter-spacing: -0.01em;
	line-height: 1.2;
	color: currentColor;
}

@mixin subheading {
	font-size: 2.2rem;
	font-weight: 600;
	letter-spacing: -0.01em;
	line-height: 1.2;
	color: map-get(theme.$colors, 'coal-light');
}

@mixin heading-jumbo {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1;
}

@mixin heading-1 {
	margin-bottom: map-get(theme.$spacings, 'tight');
	font-size: 4.2rem;
	font-weight: 700;
}

@mixin heading-2 {
	font-size: 3.2rem;
	font-weight: 700;
}

@mixin heading-3 {
	font-size: 2.4rem;
	font-weight: 700;
}

@mixin heading-4 {
	font-size: 2rem;
	font-weight: 700;
}

.heading {
	@include heading;
	&--jumbo {
		@include heading--jumbo;
	}

	&--1 {
		@include heading--1;
	}

	&--2 {
		@include heading--2;
	}

	&--3 {
		@include heading--3;
	}

	&--4 {
		@include heading--4;
	}

	&--white {
		color: white;
	}
}

.subheading {
	@include subheading;
}
