@use '../utils/shared/layout';
@use '../theme';

$main-padding-left-tablet: map-get(theme.$layout-length, 'sidebar-base') +
	map-get(theme.$spacing, 'tight');
$main-padding-left-desktop: map-get(theme.$layout-length, 'sidebar-base') +
	map-get(theme.$spacing, 'fattest');

.main {
	padding: $mobile-nav-padding-top map-get(theme.$spacing, 'tight')
		map-get(theme.$spacing, 'looser');
	min-height: 100vh;
	overflow: hidden;
	background-color: white;

	@media screen and (min-width: map-get(theme.$breakpoint, 'lg')) {
		padding: map-get(theme.$spacing, 'fat') map-get(theme.$spacing, 'fattest')
			map-get(theme.$spacing, 'fat') $main-padding-left-desktop;
	}
	&-interior {
		@include layout.centered-width(map-get(theme.$layout-length, 'main-interior-base'));
	}
}
