@use '../utils/shared/layout';
@use '../theme';

.main {
	padding: map-get(theme.$spacings, 'tighter') map-get(theme.$spacings, 'tight')
		map-get(theme.$spacings, 'looser');
	min-height: 100vh;
	overflow: hidden;
	background-color: white;

	@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
		padding: map-get(theme.$spacings, 'fattest') map-get(theme.$spacings, 'fattest')
			map-get(theme.$spacings, 'fattest');
	}
	&-interior {
		@include layout.centered-width(map-get(theme.$layout-lengths, 'main-interior-base'));
	}
}
