@use '../utils/shared/layout';
@use '../theme';

$main-padding-left-tablet: map-get(theme.$layout-lengths, 'sidebar-base') +
	map-get(theme.$spacings, 'tight');
$main-padding-left-desktop: map-get(theme.$layout-lengths, 'sidebar-base') +
	map-get(theme.$spacings, 'fattest');

.main {
	padding: map-get(theme.$spacings, 'tighter') map-get(theme.$spacings, 'tight')
		map-get(theme.$spacings, 'looser');
	min-height: 100vh;
	overflow: hidden;
	background-color: white;

	@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
		padding: map-get(theme.$spacings, 'fat') map-get(theme.$spacings, 'fattest')
			map-get(theme.$spacings, 'fat') $main-padding-left-desktop;
	}
	&-interior {
		@include layout.centered-width(map-get(theme.$layout-lengths, 'main-interior-base'));
	}
}
