a.svg-container {
	display: block;
	color: black; // default to black
}

.svg-container {
	.svg {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	.svg--auto {
		height: auto;
	}
}

.svg {
	fill: currentColor;

	@each $degree in (90, 180, 270) {
		&--rotate-#{$degree} {
			transform: rotate(#{$degree}deg);
		}
	}
}
