////
/// Content
/// Simple list
////

@import 'utils/shared/layout';
@import 'components/StackedList/props';

// using an arbitrary width until I have time to fix the `columns` function
$simple-list-width: 42rem;

.SimpleList {
  @include centered-width(columns(5));
}
