////
/// Examples Theme
/// Font Stack
////

$examples-font-stack-data: (
  base: #{
    -apple-system,
    BlinkMacSystemFont,
    'San Francisco',
    Roboto,
    'Segoe UI',
    Helvetica,
    'Helvetica Neue',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
  },
  monospace: #{
    SFMono-Regular,
    'Liberation Mono',
    Courier,
    Menlo,
    Monaco,
    Consolas,
    'Lucida Console',
    monospace,
  },
);
