////
/// Examples Theme
/// Layout Length
////

$examples-layout-length-data: (
  base: 1rem,
  gutter: (
    mobile: 0.6rem,
    base: 0.8rem,
  ),
  column: 9.3rem,
  row: 4rem,
  sidebar: 32rem,
  page-header: 64.2rem,
  main-interior: 144rem,
);
