////
/// Examples Theme
/// Spacing
////

$spacing-unit: 0.4rem;

$examples-spacing-data: (
  tightest: $spacing-unit * 2,
  tighter: $spacing-unit * 4,
  tight: $spacing-unit * 6,
  base: $spacing-unit * 8,
  loose: $spacing-unit * 10,
  looser: $spacing-unit * 12,
  loosest: $spacing-unit * 14,
  fat: $spacing-unit * 16,
  fatter: $spacing-unit * 18,
  fattest: $spacing-unit * 20,
);
