@use '../../../styles/utils/shared/layout';
@use '../../components/Pattern/styles' as pattern;
@use 'props';
@use 'variants';

.pill-switch {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: props.pill-switch(size);
	height: props.pill-switch(size);

	@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
		width: props.pill-switch(size, tablet);
		height: props.pill-switch(size, tablet);
	}

	&__track {
		@include props.pill-switch-track-layout;
		@include props.pill-switch-border(map-get(theme.$border, 'base'));
		position: absolute;
		top: 50%;
		left: 50%;
		color: map-get(theme.$colors, 'brand-blue');
		background-color: white;
		transform: rotate(-45deg);
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: -(map-get(theme.$border, 'base'));
			right: -(map-get(theme.$border, 'base'));
			bottom: -(map-get(theme.$border, 'base'));
			left: -(map-get(theme.$border, 'base'));
			display: block;
			background-color: map-get(theme.$colors, 'coal-dark');
			transition: opacity map-get(theme.$durations, 'fast') map-get(theme.$easings, 'base');
		}

		@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
			@include props.pill-switch-track-layout('tablet');
			@include props.pill-switch-border(map-get(theme.$border, 'thick'));
		}

		.pattern--halftone {
			@include pattern.pattern-halftone-animated;
			height: props.pill-switch(size);
			transform: rotate(45deg);

			@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
				height: props.pill-switch(size, tablet);
			}
		}
	}

	&__control {
		@include flex-center;
		position: absolute;
		bottom: 0;
		left: 0;
		width: props.pill-switch(control-size);
		height: props.pill-switch(control-size);
		color: map-get(theme.$colors, 'coal-dark');
		background-color: white;
		border: map-get(theme.$border, 'base') solid currentColor;
		border-radius: 50%;
		transition: color map-get(theme.$durations, 'fast') map-get(theme.$easings, 'base');

		@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
			width: props.pill-switch(control-size, tablet);
			height: props.pill-switch(control-size, tablet);
			border-width: map-get(theme.$border, 'thick');
		}

		// visually center
		.heading {
			margin-top: -0.1em;
			margin-left: -0.05em;
		}

		&:focus,
		&:hover,
		&.draggable-mirror {
			color: map-get(theme.$colors, 'brand-blue');
		}

		&:active {
			color: map-get(theme.$colors, 'brand-blue-dark');
		}

		&.draggable-source--is-dragging {
			@include visible(false);
		}
	}
}
