$cursors: (
	base: #{url('/assets/img/cursor-auto.png'),
	auto},
	text: #{url('/assets/img/cursor-text.png'),
	text},
	pointer-base: #{url('/assets/img/cursor-pointer.png'),
	pointer},
	pointer-active: #{url('/assets/img/cursor-pointer-clicked.png'),
	pointer},
	drag-base: #{url('/assets/img/cursor-drag.png'),
	auto},
	drag-active: #{url('/assets/img/cursor-drag-clicked.png'),
	auto},
	rock-base: #{url('/assets/img/cursor-rock.png'),
	pointer},
	rock-active: #{url('/assets/img/cursor-rock-clicked.png'),
	pointer}
);
