$base-spacing: 0.4rem;

$spacings: (
	tightest: $base-spacing * 2,
	tighter: $base-spacing * 4,
	tight: $base-spacing * 6,
	base: $base-spacing * 8,
	loose: $base-spacing * 10,
	looser: $base-spacing * 12,
	loosest: $base-spacing * 14,
	fat: $base-spacing * 16,
	fatter: $base-spacing * 18,
	fattest: $base-spacing * 20
);
