////
/// Examples Theme
/// Type Scale
////

$examples-type-scale-data: (
  base: (
    base: 1rem,
    leading: 1.2,
    tracking: -0.01em,
  ),
  button: (
    base: 1.2rem,
    tablet: 1.6rem,
    weight: 900,
  ),
  nav: (
    base: 3.2rem,
    '960': 2.4rem,
    leading: 0.9,
    tracking: -0.1rem,
  ),
  paragraph: (
    base: 2rem,
    tablet: 2.4rem,
    desktop: 2.8rem,
  ),
  jumbo: (
    base: 5.6rem,
    tablet: 8.2rem,
    desktop: 12rem,
    weight: 700,
    leading: 1,
  ),
  h1: (
    base: 4.2rem,
    tablet: 6.4rem,
    desktop: 9rem,
    weight: 700,
  ),
  h2: (
    base: 3.2rem,
    tablet: 4.2rem,
    desktop: 6.4rem,
    weight: 700,
  ),
  h3: (
    base: 2.4rem,
    tablet: 2.8rem,
    desktop: 3.2rem,
    weight: 700,
  ),
  h4: (
    base: 2rem,
    tablet: 2.4rem,
    desktop: 2.8rem,
    weight: 700,
  ),
  subheading: (
    base: 2.2rem,
    tablet: 2.8rem,
    weight: 600,
  ),
  footer: (
    base: 1.2rem,
    weight: 600,
    leading: 1.4,
  ),
);
