$type-scales: (
	base: 1rem,
	base-leading: 1.2,
	base-tracking: -0.01em,

	button-base: 1.2rem,
	button-tablet: 1.6rem,
	button-weight: 900,

	nav-base: 3.2rem,
	nav-tablet: 2.4rem,
	nav-leading: 0.9,
	nav-tracking: -0.1rem,

	paragraph-base: 2rem,
	paragraph-tablet: 2.4rem,
	paragraph-desktop: 2.8rem,

	jumbo-base: 5.6rem,
	jumbo-tablet: 8.2rem,
	jumbo-desktop: 12rem,
	jumbo-weight: 700,
	jumbo-leading: 1,

	h1-base: 4.2rem,
	h1-tablet: 6.4rem,
	h1-desktop: 9rem,
	h1-weight: 700,

	h2-base: 3.2rem,
	h2-tablet: 4.2rem,
	h2-desktop: 6.4rem,
	h2-weight: 700,

	h3-base: 2.4rem,
	h3-tablet: 2.8rem,
	h3-desktop: 3.2rem,
	h3-weight: 700,

	h4-base: 2rem,
	h4-tablet: 2.4rem,
	h4-desktop: 2.8rem,
	h4-weight: 700,

	subheading-base: 2.2rem,
	subheading-tablet: 2.8rem,
	subheading-weight: 600,

	footer-base: 1.2rem,
	footer-weight: 600,
	footer-leading: 1.4
);
