{% macro render(heading, options = {}) %}
  {% set classes = ['PaperStackItem'] %}
  {% set classes = (classes.push('PaperStackItem--isDraggable') if options.draggable, classes) %}
  {% set classes = (classes.push('PaperStackItem--item' + options.index) if options.index, classes) %}
  {% set classes = (classes.push(options.classes | join(' ')) if options.classes, classes) %}
  {% set classes = classes | join(' ') | trim %}

  {% set tabIndex = 'tabindex="1"' if options.draggable %}

  <li class="{{ classes }}" {{ tabIndex | safe }}>
    <div class="PaperStackContent">
      <h4 class="Heading text-no-select PaperStackHeading">{{ heading }}</h4>

      {% if options.draggable %}
        <div class="Pattern Pattern--typeHalftone"></div>
        <div class="Pattern Pattern--typePlaced"></div>
      {% endif %}
    </div>
  </li>
{% endmacro %}
