////
/// Examples Theme
/// Breakpoint
////

$examples-breakpoint-data: (
  base: 960px,
  mobile: (
    base: 320px,
    wide: 480px,
  ),
  iphone6: (
    base: 375px,
    wide: 667px,
  ),
  tablet: (
    base: 768px,
    wide: 1024px,
  ),
  '720p': (
    base: 720px,
    wide: 1280px,
  ),
  '1080p': (
    base: 1080px,
    wide: 1920px,
  ),
  desktop: (
    base: 1440px,
    wide: 2560px,
  ),
);
