/////
/// Examples Theme
/// Color
////

$examples-color-data: (
  base: transparent,
  ash: (
    light: #fafbfc,
    base: #ebeef0,
    dark: #c3cfd8,
  ),
  coal: (
    light: #798c9c,
    base: #31373d,
    dark: #212529,
  ),
  purple: (
    light: #f1e2ff,
    base: #ca8cff,
    dark: #753fa3,
  ),
  brand: (
    blue: #0042ff,
    blue-dark: #0035cc,
    yellow: #ffff00,
    orange: #ffa500,
    red: #ff0000,
    purple: #800080,
  ),
);
