////
/// Examples Theme
/// Layout Length
////

$examples-layout-length-data: (
  base: 1rem,
  gutter: 0.8rem, // base border-width
  column: 9.3rem,
  sidebar: 32rem,
  page-header: 64.2rem,
  main-interior: 144rem,
);
