////
/// Examples Theme
/// Spacing
////

$spacing-unit: 0.4rem;

$examples-spacing-data: (
  tightest: $spacing-unit * 2,  // 8px
  tighter: $spacing-unit * 4,   // 16px
  tight: $spacing-unit * 6,     // 24px
  base:  $spacing-unit * 8,     // 32px
  loose: $spacing-unit * 10,    // 40px
  looser: $spacing-unit * 12,   // 48px
  loosest: $spacing-unit * 14,  // 56px
  fat: $spacing-unit * 16,      // 64px
  fatter: $spacing-unit * 18,   // 72px
  fattest: $spacing-unit * 20,  // 80px
);
