@use 'props';

@keyframes fade-activator {
	to {
		opacity: 1;
	}
}

@keyframes hamburger-bun-top-in {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(props.$hamburger-vertical-center) rotate(0);
	}

	100% {
		transform: translateY(props.$hamburger-vertical-center) rotate(45deg);
	}
}

@keyframes hamburger-bun-top-out {
	0% {
		transform: translateY(props.$hamburger-vertical-center) rotate(45deg);
	}

	50% {
		transform: translateY(props.$hamburger-vertical-center) rotate(0);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

@keyframes hamburger-bun-bottom-in {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(-#{props.$hamburger-vertical-center}) rotate(0);
	}

	100% {
		transform: translateY(-#{props.$hamburger-vertical-center}) rotate(-45deg);
	}
}

@keyframes hamburger-bun-bottom-out {
	0% {
		transform: translateY(-#{props.$hamburger-vertical-center}) rotate(-45deg);
	}

	50% {
		transform: translateY(-#{props.$hamburger-vertical-center}) rotate(0);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

@keyframes hamburger-in {
	0%,
	25% {
		opacity: 1;
	}

	50%,
	100% {
		opacity: 0;
	}
}

@keyframes hamburger-out {
	0%,
	25% {
		opacity: 0;
	}

	50%,
	100% {
		opacity: 1;
	}
}
