@use '@src/styles/utils/shared/layout';
@use '@src/styles/theme';
@use 'props';
@use 'keyframes';

.hamburger {
	width: props.$hamburger-width;
	height: props.$hamburger-height;
	animation-name: hamburger-out;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover {
		cursor: map-get(theme.$cursors, 'pointer-base');
	}

	&:active {
		cursor: map-get(theme.$cursors, 'pointer-active');
	}

	z-index: map-get(theme.$z-index, 'hamburger');
	// prevent the 'X' on page load
	opacity: 0;
	animation: fade-activator map-get(theme.$durations, 'slow') map-get(theme.$easings, 'base')
		forwards;

	&__bun-top,
	&__bun-bottom {
		transition: background-color map-get(theme.$durations, 'base') map-get(theme.$easings, 'base');
	}

	&__bun-top,
	&__bun-bottom,
	.hamburger__patty {
		width: 100%;
		height: props.$hamburger-line-height;
		border-radius: props.$hamburger-line-height;
		background-color: map-get(theme.$colors, 'coal-dark');
		animation-duration: map-get(theme.$durations, 'base');
		animation-timing-function: map-get(theme.$easings, 'base');
		animation-fill-mode: both;
	}

	&__bun-top {
		animation-name: hamburger-bun-top-out;
	}

	&__bun-bottom {
		animation-name: hamburger-bun-bottom-out;
	}

	&--expanded {
		.hamburger__bun-top,
		.hamburger__bun-bottom {
			background-color: white;
		}

		.hamburger__bun-top {
			animation-name: hamburger-bun-top-in;
		}

		.hamburger__bun-bottom {
			animation-name: hamburger-bun-bottom-in;
		}

		.hamburger__patty {
			animation-name: hamburger-in;
		}
	}
}
