////
/// Components
/// Link props
////

@mixin Link {
  color: get-color(purple, light);
  transition: color get-duration() get-easing();

  &:focus,
  &:hover {
    color: get-color(purple);
  }

  &:active {
    color: get-color(purple, dark);
  }
}
