{% macro render(heading, options = {}) %}
  {% set classes = ['StackedListItem'] %}
  {% set classes = (classes.push('StackedListItem--isDraggable') if options.draggable, classes) %}
  {% set classes = (classes.push('StackedListItem--item' + options.index) if options.index, classes) %}
  {% set classes = (classes.push(options.classes | join(' ')) if options.classes, classes) %}
  {% set classes = classes | join(' ') | trim %}

  {% set tabIndex = 'tabindex="1"' if options.draggable %}
  {% set iconClass = 'DragHandle' if options.draggable else 'NopeHandle' %}

  <li class="{{ classes }}" {{ tabIndex | safe }}>
    <div class="StackedListContent">
      <h4 class="Heading Heading--size4 text-no-select">{{ heading }}</h4>
      <div class="{{ iconClass }}"></div>

      {% if options.draggable %}
        <div class="Pattern Pattern--typeHalftone"></div>
        <div class="Pattern Pattern--typePlaced"></div>
      {% endif %}
    </div>
  </li>
{% endmacro %}
