////
/// Components
/// StackedList
////

@import 'utilities/shared/layout';
@import 'utilities/shared/typography';
@import './props';
@import 'components/Handle/props';
@import 'components/Heading/props';
@import 'components/Patterns/props';

.StackedListWrapper {
  @include stripes-bg;
  position: relative;
  color: get-color(coal, dark);
  box-shadow: inset 0 0 0 get-border() currentColor;
  // transition causing some weird problems in Chrome
  transition: color get-duration(fast) get-easing();

  &.draggable-container--is-empty.draggable-container--over {
    color: get-color(brand, blue);
  }
}

.StackedListHeader {
  padding: stacked-list-header(padding-top) (get-spacing(tighter) + 0.8rem) stacked-list-header(padding-bottom);
  min-height: stacked-list-item();
  background-color: currentColor;

  @media screen and (min-width: get-breakpoint(desktop)) {
    min-height: stacked-list-item(base, desktop);
  }

  p {
    margin-top: 0.2em;
    font-size: get-type-scale(paragraph);
    color: white;

    @media screen and (min-width: get-breakpoint(tablet)) {
      font-size: get-type-scale(paragraph, tablet);
    }

    @media screen and (min-width: get-breakpoint(desktop)) {
      font-size: get-type-scale(paragraph, desktop);
    }
  }
}

.StackedList {
  position: relative;
  margin-top: -(get-border());

  &::before {
    @include visible(false);
    @include position-cover;
    @include Heading;
    @include HeadingSize4;
    @include text-no-select;
    content: 'drag to container';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 80%;
    background-color: white;
    transition:
      opacity get-duration() get-easing(),
      visibility get-duration() get-easing();
  }

  &:empty {
    &::before {
      @include visible;
    }
  }
}

.StackedListItem {
  cursor: get-cursor();

  &:nth-child(1n+2) {
    margin-top: -(get-border());
  }

  .StackedListItem--isCloned:first-child + & {
    margin-top: 0;
  }
}

.StackedListContent {
  position: relative;
  display: flex;
  align-items: center;
  padding: get-spacing(tighter);
  min-height: stacked-list-item();
  height: 100%;
  background-color: get-color(ash, light);
  color: get-color(coal, dark);
  border: get-border() solid currentColor;
  transition:
    color get-duration(fast) get-easing(),
    background-color get-duration(fast) get-easing(),
    transform get-duration() get-easing(bungie);

  @media screen and (min-width: get-breakpoint(desktop)) {
    min-height: stacked-list-item(base, desktop);
  }

  .Heading {
    flex: 1 1 auto;
  }

  .DragHandle,
  .NopeHandle {
    flex: 0 0 $handle-size;
    margin-left: get-spacing(tight);
  }

  @include halftone-bg-placeholder(after);

  &::before {
    content: '';
    position: absolute;
    top: -(get-border());
    right: -(get-border());
    left: -(get-border());
    display: block;
    height: get-border();
    background-color: get-color(coal, dark);
    opacity: 0;
    transition:
      background-color get-duration(fast) get-easing(),
      opacity get-duration(fast) get-easing();
  }
}
