////
/// Components
/// StackedList variants
////

@import './props';
@import 'components/Handle/props';
@import 'components/Patterns/props';

///
/// Size variants
.StackedListWrapper--sizeMedium {
  .StackedListHeader {
    min-height: stacked-list-item(medium);

    @media screen and (min-width: get-breakpoint(desktop)) {
      min-height: stacked-list-item(medium, desktop);
    }
  }

  .StackedListContent {
    min-height: stacked-list-item(medium);

    @media screen and (min-width: get-breakpoint(desktop)) {
      min-height: stacked-list-item(medium, desktop);
    }
  }
}

.StackedListWrapper--sizeLarge {
  .StackedListHeader {
    min-height: stacked-list-item(large);

    @media screen and (min-width: get-breakpoint(desktop)) {
      min-height: stacked-list-item(large, desktop);
    }
  }

  .StackedListContent {
    min-height: stacked-list-item(large);

    @media screen and (min-width: get-breakpoint(desktop)) {
      min-height: stacked-list-item(large, desktop);
    }
  }
}

///
/// Vertical scroll variant
/// Not to be paired with --axisHorizontal
.StackedListWrapper--hasScrollIndicator {
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    height: get-border();
    background-color: get-color(coal, dark);
    transition: opacity get-duration() get-easing();
  }

  // does not address :focus on child elements
  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  // Size variants

  .StackedListWrapper--sizeMedium & {
    @include stacked-list-scroll-height(
      stacked-list-item(medium), 3
    );

    @media screen and (min-width: get-breakpoint(desktop)) {
      @include stacked-list-scroll-height(
        stacked-list-item(medium, desktop), 3
      );
    }
  }

  .StackedListWrapper--sizeLarge & {
    @include stacked-list-scroll-height(
      stacked-list-item(large), 3
    );

    @media screen and (min-width: get-breakpoint(desktop)) {
      @include stacked-list-scroll-height(
        stacked-list-item(large, desktop), 3
      );
    }
  }
}

.StackedList--hasScroll {
  @include stacked-list-scroll-height;
  overflow-y: scroll;

  @media screen and (min-width: get-breakpoint(desktop)) {
    @include stacked-list-scroll-height(
      stacked-list-item(base, desktop), 7
    );
  }

  // Size variants

  .StackedListWrapper--sizeMedium & {
    @include stacked-list-scroll-height(
      stacked-list-item(medium), 3
    );

    @media screen and (min-width: get-breakpoint(desktop)) {
      @include stacked-list-scroll-height(
        stacked-list-item(medium, desktop), 3
      );
    }
  }

  .StackedListWrapper--sizeLarge & {
    @include stacked-list-scroll-height(
      stacked-list-item(large), 3
    );

    @media screen and (min-width: get-breakpoint(desktop)) {
      @include stacked-list-scroll-height(
        stacked-list-item(large, desktop), 3
      );
    }
  }
}

///
/// Axis variant
/// Has horizontal scrolling built-in
.StackedListWrapper--axisHorizontal {
  display: flex;
  height: stacked-list-item();

  @media screen and (min-width: get-breakpoint(tablet)) {
    height: stacked-list-item(base, desktop);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: get-border();
    background-color: get-color(coal, dark);
    transition: opacity get-duration() get-easing();
  }

  // does not address :focus on child elements
  &:hover {
    &::after {
      opacity: 0.1;
    }
  }

  .StackedListHeader {
    flex: 0 0 stacked-list-item(large);

    @media screen and (min-width: get-breakpoint(tablet)) {
      flex-basis: stacked-list-item(large, desktop);
    }
  }

  .StackedList {
    display: flex;
    flex: 1 1 auto;
    margin-top: 0;
    margin-left: -(get-border());
    overflow-x: scroll;
  }

  .StackedListItem {
    flex: 1 0 stacked-list-item(large);
    max-width: stacked-list-item(large) * 2;
    height: 100%;

    &:nth-child(1n+2) {
      margin-top: 0;
      margin-left: -(get-border());
    }

    @media screen and (min-width: get-breakpoint(tablet)) {
      flex-basis: stacked-list-item(large, desktop);
      max-width: stacked-list-item(large, desktop) * 2;
    }
  }

  .StackedListItem--isCloned:first-child + .StackedListItem {
    margin-left: 0;
  }

  .StackedListContent {
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &::before {
      top: -(get-border());
      right: auto;
      bottom: -(get-border());
      left: -(get-border());
      width: get-border();
      height: auto;
    }
  }

  .DragHandle,
  .NopeHandle {
    margin-left: 0;
  }

  &.StackedListWrapper--sizeMedium {
    height: stacked-list-item(medium);

    @media screen and (min-width: get-breakpoint(tablet)) {
      height: stacked-list-item(medium, desktop);
    }
  }

  &.StackedListWrapper--sizeLarge {
    height: stacked-list-item(large);

    @media screen and (min-width: get-breakpoint(tablet)) {
      height: stacked-list-item(large, desktop);
    }
  }
}

///
/// Draggable variant
.StackedListItem--isDraggable {
  cursor: get-cursor(drag);

  .StackedListContent {
    background-color: white;
  }

  // interaction
  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    .StackedListContent {
      color: get-color(brand, blue);
    }

    + .StackedListItem {
      .StackedListContent::before {
        background-color: get-color(brand, blue);
        opacity: 1;
      }
    }
  }

  &.draggable-source--is-dragging {
    .StackedListContent {
      @include halftone-bg-animated(after);
      color: get-color(brand, blue);
    }

    + .StackedListItem,
    + .StackedListItem--isCloned + .StackedListItem {
      .StackedListContent::before {
        background-color: get-color(brand, blue);
        opacity: 1;
      }
    }
  }

  &.draggable-mirror {
    z-index: get-z-index(overlay);

    .StackedListContent {
      color: white;
      background-color: get-color(brand, blue);
      border-color: get-color(brand, blue);
      transform: scale(1.025);

      &::before,
      &::after {
        display: none;
      }
    }

    .DragHandle {
      @include drag-handle-dragging;
    }
  }
}
