.wave {
	&--mask {
		fill: map-get(theme.$colors, 'coal-dark');
	}

	&--purple {
		fill: map-get(theme.$colors, 'brand-purple');
	}

	&--red {
		fill: map-get(theme.$colors, 'brand-red');
	}

	&--orange {
		fill: map-get(theme.$colors, 'brand-orange');
	}
}
