////
/// Components
/// Brand
////

@use 'keyframes';
@use 'props';
@use 'variants';

.brand {
	cursor: map-get(theme.$cursor, 'rock-base');
	display: flex;

	&:active {
		cursor: map-get(theme.$cursor, 'rock-active');

		.brand--mask,
		.brand--purple,
		.brand--red,
		.brand--orange,
		.hand {
			animation-duration: map-get(theme.$duration, 'base');
		}
	}

	@media screen and (max-width: calc(map-get(theme.$breakpoint, 'base') - 1px)) {
		justify-content: center;
	}

	@media screen and (min-width: map-get(theme.$breakpoint, 'lg')) {
		margin-left: -(map-get(theme.$spacing, 'tightest'));
	}

	&__logo {
		flex: 0 0 $logo-width;
	}

	&__wordmark {
		flex: 0 0 $wordmark-width;
		margin-left: map-get(theme.$spacing, 'tighter');
	}

	&:hover {
		.wave--mask {
			animation: logo-rainbow-mask map-get(theme.$duration, 'slow') map-get(theme.$easing, 'base')
				infinite;
		}

		.wave--purple {
			animation: logo-rainbow-purple map-get(theme.$duration, 'slow') map-get(theme.$easing, 'base')
				infinite;
		}

		.wave--red {
			animation: logo-rainbow-red map-get(theme.$duration, 'slow') map-get(theme.$easing, 'base')
				infinite;
		}

		.wave--orange {
			animation: logo-rainbow-orange map-get(theme.$duration, 'slow') map-get(theme.$easing, 'base')
				infinite;
		}

		.hand {
			animation: logo-outline-bounce map-get(theme.$duration, 'slow') linear infinite;
		}
	}
}

.svg--wordmark {
	fill: map-get(theme.$color, 'brand-yellow');
}

.hand {
	fill: map-get(theme.$color, 'brand-yellow');
}
