/* github markdown */
.github-markdown {
  font-size: 16px;
}

.github-markdown h1,
.github-markdown h2,
.github-markdown h3,
.github-markdown h4,
.github-markdown h5 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  padding: 0;
}

.github-markdown h1:nth-of-type(1) {
  margin-top: 0;
}

.github-markdown h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
}

.github-markdown h2 {
  font-size: 1.75em;
  padding-bottom: 0.3em;
}

.github-markdown h3 {
  font-size: 1.5em;
}

.github-markdown h4 {
  font-size: 1.25em;
}

.github-markdown h5 {
  font-size: 1em;
}

.github-markdown ul, .github-markdown ol {
  padding-left: 2em;
}

.github-markdown pre > code {
  font-size: 0.85em;
}

.github-markdown table {
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.github-markdown table th,
.github-markdown table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.github-markdown table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github-markdown hr {
  border-right: 0;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0;
  border-top: 0;
}

/** badge(.svg) does not have border */
.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
