{% macro render(HeadAttr) %}
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ HeadAttr.siteName }}">
  <meta property="og:title" content="{{ HeadAttr.title }}">
  <meta property="og:description" content="{{ HeadAttr.description }}">
  <meta property="og:image" content="{{ HeadAttr.socialImg }}">
  <meta property="og:url" content="{{ siteUrl }}">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="{{ HeadAttr.twitterHandle }}">
  <meta property="twitter:account_id" content="{{ HeadAttr.twitterId }}">
  <meta property="twitter:title" content="{{ HeadAttr.title }}">
  <meta property="twitter:description" content="{{ HeadAttr.description }}">
  <meta property="twitter:image" content="{{ HeadAttr.socialImg }}">
{% endmacro %}
