# OS files
.DS_Store

# Caches
.cache
.eslintcache
.sass-cache
.npm
*.tsbuildinfo

# Dev
.dev

# Environment
.env
.env.test

# Build
dist
scrap
packages

# Secrets
secrets.json

# Reports
assets-manifest.json
bundle-report.html

# Node/yarn
node_modules
.yarn-integrity

# Coverage
coverage
lib-cov
*.lcov

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock
