# Ignore OS Specific files
.DS_Store

# Ignore the SASS cache
.sass-cache

# Logs
logs
*.log

# Ignore dev
.dev

# Ignore secrets.json
secrets.json

# Ignore scrap and distribution folders
scrap
dist

# Ignore generated reports and manifests
assets-manifest.json
bundle-report.html

# Dependency directory
node_modules
packages
