{
  "extends": [
    "stylelint-config-shopify/prettier"
  ],
  "rules": {
    "color-no-hex": null,
    "comment-empty-line-before": null,
    "scss/double-slash-comment-empty-line-before": null,
    "declaration-property-value-blacklist": null,
    "font-weight-notation": null,
    "function-url-scheme-whitelist": null,
    "max-nesting-depth": 4,
    "no-duplicate-selectors": null,
    "no-unknown-animations": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-max-class": 5,
    "selector-max-id": 1,
    "selector-max-type": 2,
    "selector-max-combinators": 3,
    "selector-max-compound-selectors": 4,
    "selector-max-specificity": "1,5,1",
    "selector-no-qualifying-type": null,
    "scss/partial-no-import": null
  }
}
