.block {
	&__content {
		&--shell {
			color: map-get(theme.$color, 'coal-dark');
			background-color: white;
			border-color: currentColor;
		}

		&--hollow {
			color: map-get(theme.$color, 'ash-dark');
			background-color: white;
			border-color: currentColor;
		}

		&--stripes {
			@include stripes-bg;
			color: map-get(theme.$color, 'coal-dark');
			border-color: currentColor;
			transition: color map-get(theme.$duration, 'fast') map-get(theme.$easing, 'base');
			&.is-colliding {
				color: map-get(theme.$color, 'brand-red');
			}
		}
	}

	&__layout {
		&--flex,
		&--float {
			margin-top: -(map-get(theme.$border, 'thin'));
			margin-left: -(map-get(theme.$border, 'thin'));

			> .block__wrapper {
				margin-top: map-get(theme.$border, 'thin');
				margin-left: map-get(theme.$border, 'thin');
			}

			> .block {
				padding-top: map-get(theme.$border, 'thin');
				padding-left: map-get(theme.$border, 'thin');
			}

			@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
				margin-top: -(map-get(theme.$border, 'base'));
				margin-left: -(map-get(theme.$border, 'base'));

				> .block__wrapper {
					margin-top: map-get(theme.$border, 'base');
					margin-left: map-get(theme.$border, 'base');
				}

				> .block {
					padding-top: map-get(theme.$border, 'base');
					padding-left: map-get(theme.$border, 'base');
				}
			}
		}

		&--flex {
			display: flex;
			flex-wrap: wrap;

			.block {
				flex: 1 1 100%;
			}
		}

		&--float {
			@include clearfix;

			.block {
				float: left;
				width: 100%;
			}
		}

		&--grid {
			display: grid;
			gap: map-get(theme.$border, 'thin');

			@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
				gap: map-get(theme.$border, 'base');
			}
		}

		&--positioned {
			position: relative;
		}
	}

	&--is-draggable {
		cursor: map-get(theme.$cursor, 'drag-base');

		.block-content {
			color: map-get(theme.$color, 'coal-dark');
			background-color: white;
			border-color: currentColor;
			transition: color map-get(theme.$duration, 'fast') map-get(theme.$easing, 'base'),
				background-color map-get(theme.$duration, 'fast') map-get(theme.$easing, 'base'),
				transform map-get(theme.$duration, 'base') map-get(theme.$easing, 'bungie');
		}

		// interaction
		&:focus .block-content,
		&:hover .block-content {
			color: map-get(theme.$color, 'brand-blue');
		}

		&.draggable-source--is-dragging .block-content {
			color: map-get(theme.$color, 'brand-blue');

			.pattern--halftone {
				@include pattern-halftone-animated;
			}
		}

		&.draggable-source--placed .block-content {
			.pattern--placed {
				@include pattern-placed-animated;
			}
		}

		&.draggable-mirror {
			z-index: map-get(theme.$z-index, 'overlay');
			transition: width map-get(theme.$duration, 'base') map-get(theme.$easing, 'bungie'),
				height map-get(theme.$duration, 'base') map-get(theme.$easing, 'bungie');

			.block-content {
				height: 100%;
				color: white;
				background-color: map-get(theme.$color, 'brand-blue');
				border-color: map-get(theme.$color, 'brand-blue');
				transform: scale(1.025);
			}
		}
	}
}
