@use '../../../styles/utils/shared/functions';
@use '../../../styles/utils/shared/layout';
@use '../../../styles/theme';
@use 'variants';

.block {
	position: relative;
	display: block;

	&__content {
		@include layout.flex-center;
		position: relative;
		min-height: functions.rows(2, true);
		height: 100%;
		color: white;
		background-color: map-get(theme.$colors, 'coal-dark');
		border: map-get(theme.$borders, 'thin') solid map-get(theme.$colors, 'coal-dark');

		@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
			min-height: functions.rows(2);
			border-width: map-get(theme.$borders, 'base');
		}

		.heading {
			// vertical alignment
			margin-top: -0.1em;
		}
	}
}
