@use '../../../styles/utils/shared/functions';
@use '../../../styles/utils/shared/layout';
@use 'variants';

.block {
	position: relative;
	display: block;

	&__content {
		@include flex-center;
		position: relative;
		min-height: rows(2, true);
		height: 100%;
		color: white;
		background-color: map-get(theme.$color, 'coal-dark');
		border: map-get(theme.$border, 'thin') solid map-get(theme.$color, 'coal-dark');

		@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
			min-height: rows(2);
			border-width: map-get(theme.$border, 'base');
		}

		.heading {
			// vertical alignment
			margin-top: -0.1em;
		}
	}

	&__wrapper {
		position: relative;

		&.draggable-dropzone--occupied {
			.block--hollow,
			.block--stripes {
				@include position-cover;
			}
		}

		.block {
			height: 100%;
		}
	}
}
