{% extends 'templates/document.html' %}

{% import 'components/Document/Head.html' as Head %}
{% import 'components/Sidebar/Sidebar.html' as Sidebar %}
{% import 'components/PageHeader/PageHeader.html' as PageHeader %}

{% import 'content/Plugins/Collidable/Collidable.html' as Collidable %}

{% set ViewAttr = {
  id: 'Collidable',
  parent: 'Plugins',
  child: 'Collidable',
  subheading: 'Enable collision detection by including the Collidable plugin. You can now resist dragging over all elements specificed as collision obstacles.'
} %}

{% block PageId %}{{ ViewAttr.id }}{% endblock %}

{% block head %}
  {{ Head.render(ViewAttr) }}
{% endblock %}

{% block sidebar %}
  {{ Sidebar.render(ViewAttr, DataPages) }}
{% endblock %}

{% block main %}
  {{ PageHeader.render(ViewAttr) }}
  {{ Collidable.render(ViewAttr.id) }}
{% endblock %}
