{% extends 'templates/iframe.html' %}

{% import 'components/Document/Head.html' as Head %}
{% import 'components/StackedList/StackedListItem.html' as StackedListItem %}

{% set ViewAttr = {
  id: 'iFrames',
  parent: 'Sortable',
  child: 'iFrames',
  subheading: 'Sort elements between iframes like you have never before.'
} %}

{% block PageId %}{{ ViewAttr.id }}{% endblock %}

{% block head %}
  {{ Head.render(ViewAttr) }}
{% endblock %}

{% block main %}
  <section id="{{ ViewAttr.id }}" class="{{ ViewAttr.id }}">
    <article class="StackedListWrapper">
      <header class="StackedListHeader">
        <h3 class="Heading Heading--size3 Heading--colorWhite">Inside iFrame</h3>
      </header>

      <ul class="StackedList">
        {{ StackedListItem.render('item one',   {index: 1, draggable: true}) }}
        {{ StackedListItem.render('item two',   {index: 2, draggable: true}) }}
        {{ StackedListItem.render('item three', {index: 3, draggable: true}) }}
        {{ StackedListItem.render('item four',  {index: 4, draggable: true}) }}
        {{ StackedListItem.render('item five',  {index: 5}) }}
        {{ StackedListItem.render('item six',   {index: 6, draggable: true}) }}
      </ul>
    </article>
  </section>
{% endblock %}
