{% extends 'templates/document.html' %}

{% import 'components/Document/Head.html' as Head %}
{% import 'components/Sidebar/Sidebar.html' as Sidebar %}
{% import 'components/PageHeader/PageHeader.html' as PageHeader %}

{% import 'content/Draggable/ManualStartDrag/ManualStartDrag.html' as ManualStartDrag %}

{% set ViewAttr = {
  id: 'ManualStartDrag',
  parent: 'Draggable',
  child: 'Manual Start Drag',
  subheading: '在 `options.useManualStart: true` 时，sensor 不会启动拖拽, 需要调用 `manualStart(event)` 手动触发拖拽'
} %}

{% block PageId %}{{ ViewAttr.id }}{% endblock %}

{% block head %}
  {{ Head.render(ViewAttr) }}
{% endblock %}

{% block sidebar %}
  {{ Sidebar.render(ViewAttr, DataPages) }}
{% endblock %}

{% block main %}
  {{ PageHeader.render(ViewAttr) }}
  {{ ManualStartDrag.render(ViewAttr.id) }}
{% endblock %}
