{% extends 'views/templates/document.html' %}

{% import 'components/Document/Head.html' as Head %}
{% import 'components/Sidebar/Sidebar.html' as Sidebar %}
{% import 'components/PageHeader/PageHeader.html' as PageHeader %}

{% import 'content/Sortable/SimpleList/SimpleList.html' as SimpleList %}

{% set ViewAttrs = {
  id: 'SimpleList',
  parent: 'Sortable',
  child: 'Simple list',
  subheading: 'Sort elements in a single collection, maintaining order for all but the element being dragged.'
} %}

{% block PageId %}{{ ViewAttrs.id }}{% endblock %}

{% block head %}
  {{ Head.render(ViewAttrs) }}
{% endblock %}

{% block sidebar %}
  {{ Sidebar.render(ViewAttrs, DataPages) }}
{% endblock %}

{% block main %}
  {{ PageHeader.render(ViewAttrs.parent, ViewAttrs.subheading) }}
  {{ SimpleList.render(ViewAttrs.id) }}
{% endblock %}
