{% extends 'templates/document.html' %}

{% import 'components/Document/Head.html' as Head %}
{% import 'components/Sidebar/Sidebar.html' as Sidebar %}
{% import 'components/PageHeader/PageHeader.html' as PageHeader %}

{% import 'content/Plugins/Snappable/Snappable.html' as Snappable %}

{% set ViewAttr = {
  id: 'Snappable',
  parent: 'Plugins',
  child: 'Snappable',
  subheading: 'Snappable turns draggable elements into suction cups. Drag an item close enough to another draggable and it will snap into place.'
} %}

{% block PageId %}{{ ViewAttr.id }}{% endblock %}

{% block head %}
  {{ Head.render(ViewAttr) }}
{% endblock %}

{% block sidebar %}
  {{ Sidebar.render(ViewAttr, DataPages) }}
{% endblock %}

{% block main %}
  {{ PageHeader.render(ViewAttr) }}
  {{ Snappable.render(ViewAttr.id) }}
{% endblock %}
