////
/// Components
/// Page
////

@import 'utilities/shared/layout';

html {
  @include scroll-lock;
  font-family: get-font-stack();
  background-color: white;

  ::selection {
    color: white;
    background-color: get-color(coal, dark);
  }

  // better overscroll in Chrome
  @media screen and (min-width: get-breakpoint()) {
    background-color: get-color(coal, dark);
  }
}

body {
  position: relative;
  cursor: get-cursor();
}

///
/// Cursor styles
p,
li,
dd,
.Heading,
.Subheading {
  cursor: get-cursor(text);
}

a,
button {
  cursor: get-cursor(pointer);

  &:active {
    cursor: get-cursor(pointer, active);
  }
}

.draggable--is-dragging {
  &,
  * {
    cursor: get-cursor(drag, active);
  }
}

// Set `state` cursors to never used tags only so they can be fetched on page load,
// rather than the instance they are first requested...
.preload-cursors {
  @include visually-hidden;

  b {
    cursor: get-cursor(drag, active);
  }

  u {
    cursor: get-cursor(pointer, active);
  }

  a {
    cursor: get-cursor(rock, active);
  }
}
