@use '../../../styles/utils/shared/layout';
@import '../../components/MobileNav/styles';

.sidebar {
	@include position-cover;
	z-index: map-get(theme.$z-index, 'sidebar');
	background-color: map-get(theme.$color, 'coal-dark');
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	@media screen and (max-width: calc(map-get(theme.$breakpoint, 'md') - 1px)) {
		text-align: center;
		transition: opacity map-get(theme.$duration, 'base') map-get(theme.$easing, 'base'),
			visibility map-get(theme.$duration, 'base') map-get(theme.$easing, 'base');

		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			display: block;
			height: $mobile-nav-padding-top;
			background: linear-gradient(
				rgba(map-get(theme.$color, 'coal-dark'), 0.9) 40%,
				rgba(map-get(theme.$color, 'coal-dark'), 0)
			);
		}

		// protect against resizing visibility
		&[aria-hidden='undefined'] {
			display: none;
		}

		&[aria-hidden='true'] {
			@include visible(false);
		}
	}

	@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
		position: fixed;
		right: auto;
		display: flex; // for sticky footer
		flex-direction: column; // for sticky footer
		width: map-get(theme.$layout-length, 'sidebar');
	}

	&__header {
		padding: $mobile-nav-padding-top map-get(theme.$spacing, 'tight')
			map-get(theme.$spacing, 'tight');

		@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
			padding-top: map-get(theme.$spacing, 'looser');
		}

		@media screen and (min-width: map-get(theme.$breakpoint, 'lg')) {
			padding-top: map-get(theme.$spacing, 'fat');
			padding-right: map-get(theme.$spacing, 'loose');
			padding-left: map-get(theme.$spacing, 'loose');
		}
	}

	&__footer {
		padding: map-get(theme.$spacing, 'loose') map-get(theme.$spacing, 'tight');

		@media screen and (min-width: map-get(theme.$breakpoint, 'lg')) {
			padding: map-get(theme.$spacing, 'fat') map-get(theme.$spacing, 'loose');
		}
	}
}

.legal-text {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.4;
	color: white;

	& + & {
		margin-top: map-get(theme.$spacing, 'tighter');
	}

	@media screen and (max-width: calc(map-get(theme.$breakpoint, 'md') - 1px)) {
		margin-left: auto;
		margin-right: auto;
		max-width: map-get(theme.$layout-length, 'sidebar');
	}
}
