////
/// Components
/// Shared props
////

@import 'utilities/shared/layout';

/* stylelint-disable selector-pseudo-element-no-unknown */
@mixin draggable-placed-placeholder($psuedo: after) {
  &::#{unquote($psuedo)} {
    @include position-cover;
    @include visible(false);
    content: '';
    display: block;
    background-color: get-color(brand, blue);

    @content;
  }
}

@mixin draggable-placed-animated($psuedo: after) {
  &::#{unquote($psuedo)} {
    @include visible;
    animation: zoom-out get-duration() get-easing() both;

    @content;
  }
}
/* stylelint-enable selector-pseudo-element-no-unknown */
