{% macro render(ViewAttr) %}
  {% set contentPath = '' %}
  {% set contentPath = ViewAttr.parent + '/' if ViewAttr.child %}
  {% set contentPath = contentPath + ViewAttr.id %}

  <header class="PageHeader">
    <h1 class="Heading Heading--size1">{{ ViewAttr.parent }}</h1>
    <h2 class="Subheading">{{ ViewAttr.subheading }}</h2>
    <a href="https://github.com/Shopify/draggable/tree/master/examples/src/content/{{ contentPath }}" class="Link Link--typeUnderlined" title="See this code example">View code on GitHub</a>
  </header>
{% endmacro %}
