////
/// Components
/// PageHeader
////

@import 'utils/shared/layout';

.PageHeader {
  @include centered-width(get-layout-length(page-header));
  margin-bottom: get-spacing(loose);
  text-align: center;
  color: get-color(coal, dark);

  @media screen and (min-width: get-breakpoint(tablet)) {
    margin-bottom: get-spacing(loosest);
  }

  @media screen and (min-width: get-breakpoint(desktop)) {
    margin-bottom: get-spacing(fattest);
  }

  .Link {
    margin-top: get-spacing(tight);

    @media screen and (min-width: get-breakpoint(desktop)) {
      margin-top: get-spacing();
    }
  }
}
