@use '@src/styles/theme';

$stacked-list-item-base: (
	base: 7.2rem,
	desktop: 8.6rem
);

$stacked-list-item-medium: (
	base: 10rem,
	desktop: 16.4rem
);

$stacked-list-item-large: (
	base: 14.4rem,
	desktop: 20.6rem
);

@mixin stacked-list-scroll-height($size: 7.2rem, $rows: 6, $border-width: thin) {
	height: ($size * $rows) - (map-get(theme.$borders, $border-width) * ($rows - 1));
}

@mixin scroll-indicator($vertical: true) {
	content: '';
	position: absolute;
	display: block;
	background-color: currentColor;
	transition: color map-get(theme.$durations, 'fast') map-get(theme.$easings, 'base'),
		opacity map-get(theme.$durations, 'base') map-get(theme.$easings, 'base');

	@if $vertical {
		right: 0;
		bottom: 0;
		left: 0;
		height: map-get(theme.$borders, 'thin');
	} @else {
		top: 0;
		right: 0;
		bottom: 0;
		width: map-get(theme.$borders, 'thin');
	}

	@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
		@if $vertical {
			height: map-get(theme.$borders, 'base');
		} @else {
			width: map-get(theme.$borders, 'base');
		}
	}
}
