@mixin stacked-list-scroll-height($size: 7.2rem, $rows: 6, $border-width: thin) {
	height: ($size * $rows) - (map-get(theme.$border, $border-width) * ($rows - 1));
}

@mixin scroll-indicator($vertical: true) {
	content: '';
	position: absolute;
	display: block;
	background-color: currentColor;
	transition: color map-get(theme.$duration, 'fast') map-get(theme.$easing, 'base'),
		opacity map-get(theme.$duration, 'base') map-get(theme.$easing, 'base');

	@if $vertical {
		right: 0;
		bottom: 0;
		left: 0;
		height: map-get(theme.$border, 'thin');
	} @else {
		top: 0;
		right: 0;
		bottom: 0;
		width: map-get(theme.$border, 'thin');
	}

	@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
		@if $vertical {
			height: map-get(theme.$border, 'base');
		} @else {
			width: map-get(theme.$border, 'base');
		}
	}
}
