.plate {
	&--bottom {
		padding-top: 100%;
		width: 100%;

		.plate__shadow {
			transform: rotate(55deg);
		}
	}

	&--middle {
		padding-top: 75%;
		width: 75%;

		.plate__shadow {
			transform: rotate(45deg);
		}
	}

	&--top {
		padding-top: 50%;
		width: 50%;

		.plate__shadow {
			transform: rotate(35deg);
		}
	}

	&__wrapper {
		&.draggable-container--placed {
			.plate--bottom,
			.plate--middle,
			.plate--top {
				animation-name: plate-placed;
				animation-duration: map-get(theme.$durations, 'base');
				animation-timing-function: map-get(theme.$easings, 'base');
			}

			.plate--bottom {
				animation-delay: calc(map-get(theme.$durations, 'base') / 2);
			}

			.plate--middle {
				animation-delay: calc(map-get(theme.$durations, 'base') / 4);
			}
		}
	}

	.plate--draggable {
		color: map-get(theme.$colors, 'coal-dark');
		transition: color map-get(theme.$durations, 'fast') map-get(theme.$easings, 'base');

		&:focus,
		&:hover {
			color: map-get(theme.$colors, 'brand-blue');
		}

		.plate__shadow::before {
			background-color: currentColor;
			animation-duration: map-get(theme.$durations, 'slow');
			animation-timing-function: map-get(theme.$easings, 'base');
		}

		.plate__content {
			background-color: white;
			border: map-get(theme.$border, 'flexible') solid currentColor;
			animation-duration: map-get(theme.$durations, 'slow');
			animation-timing-function: map-get(theme.$easings, 'base');

			@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
				border-width: map-get(theme.$border, 'thick');
			}
		}

		&.plate--bottom {
			&:focus,
			&:hover {
				.plate__content,
				.plate__shadow::before {
					animation-name: plate-small;
				}
			}
		}

		&.plate--middle {
			&:focus,
			&:hover {
				.plate__content,
				.plate__shadow::before {
					animation-name: plate-medium;
				}
			}
		}

		&.plate--top {
			&:focus,
			&:hover {
				.plate__content,
				.plate__shadow::before {
					animation-name: plate-big;
				}
			}
		}

		// would be nice if there was a better way to suppress the creation of the mirror
		&.draggable-mirror {
			display: none;
		}
	}
}

.draggable-container--placed {
	.plate--bottom {
		.plate__content,
		.plate__shadow::before {
			animation-name: plate-small;
		}
	}

	.plate--middle {
		.plate__content,
		.plate__shadow::before {
			animation-name: plate-medium;
		}
	}

	.plate--top {
		.plate__content,
		.plate__shadow::before {
			animation-name: plate-big;
		}
	}
}
