@use '../../../styles/utils/shared/layout';
@use '../../../styles/theme';
@use 'variants';
@use 'keyframes';

$plate-max-size: 80rem;

.plate {
	@include layout.position-cover;
	height: 0;
	color: white;
	// required for more accurate :hover hitbox
	border-radius: 50%;

	&__shadow-wrapper {
		@include layout.position-cover;
		pointer-events: none;
		overflow: hidden;
	}

	&__shadow {
		width: 100%;
		height: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: map-get(theme.$colors, 'coal-dark');
			border-radius: 50%;
		}
	}

	&__content {
		@include layout.position-cover;
		@include layout.flex-center;
		background-color: map-get(theme.$colors, 'coal-dark');
		border-radius: 50%;

		@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
			border-width: map-get(theme.$borders, 'thick');
		}

		.heading {
			margin-bottom: 0;
		}
	}
}
