@use 'variants';

.navigation {
	padding: map-get(theme.$spacing, 'tight');

	@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
		flex: 1; // for sticky footer
	}

	@media screen and (min-width: map-get(theme.$breakpoint, 'lg')) {
		padding-right: map-get(theme.$spacing, 'loose');
		padding-left: map-get(theme.$spacing, 'loose');
	}

	&__list {
		& + & {
			margin-top: map-get(theme.$spacing, 'base');

			@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
				margin-top: map-get(theme.$spacing, 'looser');
			}
		}
	}

	&__item {
		& + & {
			margin-top: map-get(theme.$spacing, 'tightest') + $spacing-unit;

			@media screen and (min-width: map-get(theme.$breakpoint, 'md')) {
				margin-top: map-get(theme.$spacing, 'tighter');
			}
		}
	}

	&__heading,
	&__link {
		font-size: 3.2rem;
		letter-spacing: -0.1rem;
		line-height: 0.9;
	}

	&__heading {
		font-weight: 700;
		color: white;

		.NavList--isCurrent & {
			color: map-get(theme.$color, 'brand-yellow');
		}
	}

	a&__link {
		color: map-get(theme.$color, 'ash-dark');
		transition: color map-get(theme.$duration, 'base') map-get(theme.$easing, 'base');

		&:focus,
		&:hover {
			color: map-get(theme.$color, 'purple-base');
		}

		&:active {
			color: map-get(theme.$color, 'purple-dark');
		}
	}
}
