@import '../../../styles/utils/shared/layout';

.page-header {
	@include layout.centered-width(map-get(theme.$layout-lengths, 'page-header'));
	margin-bottom: map-get(theme.$spacings, 'loose');
	text-align: center;
	color: map-get(theme.$colors, 'coal-dark');

	@media screen and (min-width: map-get(theme.$breakpoints, 'md')) {
		margin-bottom: map-get(theme.$spacings, 'loosest');
	}

	@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
		margin-bottom: map-get(theme.$spacings, 'fattest');
	}

	.link {
		margin-top: map-get(theme.$spacings, 'tight');

		@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
			margin-top: map-get(theme.$spacings, 'base');
		}
	}
}
