@use '@src/styles/utils/shared/layout';
@use '@src/styles/components/link';
@use '@src/styles/theme';

.page-header {
	margin-bottom: map-get(theme.$spacings, 'loose');
	text-align: center;
	color: map-get(theme.$colors, 'coal-dark');

	@media screen and (min-width: map-get(theme.$breakpoints, 'sm')) {
		margin-left: calc(map-get(theme.$spacings, 'fattest'));
		margin-right: calc(map-get(theme.$spacings, 'fattest'));
		margin-bottom: map-get(theme.$spacings, 'loosest');
	}

	@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
		margin-left: calc(map-get(theme.$spacings, 'fattest') * 3);
		margin-right: calc(map-get(theme.$spacings, 'fattest') * 3);
		margin-bottom: map-get(theme.$spacings, 'loosest');
	}

	.link {
		margin-top: map-get(theme.$spacings, 'tight');

		@media screen and (min-width: map-get(theme.$breakpoints, 'lg')) {
			margin-top: map-get(theme.$spacings, 'base');
		}
	}
}
