////
/// Components
/// Heading variants
////

@import 'props';

///
/// Heading sizes
.Heading--sizeJumbo {
  @include HeadingSizeJumbo;
}

.Heading--size1 {
  @include HeadingSize1;
}

.Heading--size2 {
  @include HeadingSize2;
}

.Heading--size3 {
  @include HeadingSize3;
}

.Heading--size4 {
  @include HeadingSize4;
}

///
/// Heading colors
.Heading--colorWhite {
  color: white;
}
